body {
    padding: 0px;
    margin: 0px;
}

.container {
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: auto;
    height: 40px;
}